const development = {
  HTTP_PORT: 3000,
  HTTPS_PORT: 3001,
  DB_HOST: 'localhost',
  DB_USER: '',
  DB_PASSWORD: '',
  DB_DATABASE: 'microtracker',
};

const production = {
  HTTP_PORT: 80,
  HTTPS_PORT: 443,
  DB_HOST: 'localhost',
  DB_USER: '',
  DB_PASSWORD: '',
  DB_DATABASE: 'microtracker',
};

module.exports = {
  apps: [
    {
      name: 'backend',
      script: './backend/bin/microtracker-backend.js',
      cwd: './backend',
      watch: true,
      ignore_watch: ['node_modules'],
      env: {
        NODE_ENV: 'development',
        ...development,
      },
      env_production: {
        NODE_ENV: 'production',
        ...production,
      },
      time: true,
    },
  ],

  deploy: {
    production: {
      user: 'SSH_USERNAME',
      host: 'SSH_HOSTMACHINE',
      ref: 'origin/master',
      repo: 'GIT_REPOSITORY',
      path: 'DESTINATION_PATH',
      'pre-deploy-local': '',
      'post-deploy': 'npm install && pm2 reload ecosystem.config.js --env production',
      'pre-setup': '',
    },
  },
};
